[Unit]
Description=etna-finance
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/etna-finance start -c /etc/etna-finance/config.yaml
WorkingDirectory=/usr/share/etna-finance
Restart=on-failure
RestartSec=5
User=etna-finance
Group=etna-finance

# Security settings
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/usr/share/etna-finance

[Install]
WantedBy=multi-user.target