name: Release
on:
  push:
    tags:
      - 'v*.*.*'
      - 'v*.*.*-*'

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 1

    steps:
      # Checkout code
      - uses: actions/checkout@v4

      # Setup Go
      - name: Setup Go 1.24.2
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.2'
          cache: true

      # Setup Node.js for webui
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: webui/package-lock.json

      # Build frontend in webui
      - name: Install NPM dependencies
        working-directory: webui
        run: npm ci

      - name: build frontend
        run: make package-ui

      # Run Goreleaser
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser
          # 'latest', 'nightly', or a semver
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Your GoReleaser Pro key, if you are using the 'goreleaser-pro' distribution
          # GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}